.page {
  padding-top: 4%;
}

.dropdown .VirtualizedSelectFocusedOption {
  background-color: rgb(168, 170, 177);
  color: black;
}

.input-space {
  margin-bottom: 5%;
}

.dropdown-title {
  /* margin-top: 20px;
  margin-bottom: 10px; */
  color: #4a65ad;
  font-weight: 300;
}

.column {
  /* padding-top: 1%; */
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

