.page {
  padding-top: 4%;
}

.dropdown .VirtualizedSelectFocusedOption {
  background-color: rgb(168, 170, 177);
  color: black;
}

.input-space {
  margin-bottom: 5%;
}

.dropdown-title {
  /* margin-top: 20px;
  margin-bottom: 10px; */
  color: #000000;
  font-weight: 300;
}

.column {
  /* padding-top: 1%; */
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.rc-slider-track {
  background-color: #292b2c;
}

.rc-slider-dot-active {  
  border-color: #292b2c;
  border: solid 2px #292b2c;
}

.rc-slider-handle {
  background-color: #292b2c;
  border-color: #292b2c;
}

.rc-slider-handle:hover {
  border-color: #292b2c;
}

.rc-slider-handle-active:active {
  border-color: red;
}